

html.wp-toolbar {
	padding-top: 40px;
}

body {
	background-color: #f8f8f8;
	font-family: 'Inter', sans-serif;
	-webkit-font-smoothing: antialiased;
}




#wpadminbar * {
	line-height: 3.1;
}

#wpadminbar {
	background-color: #1C222F;
	height: 40px;
}

#wpadminbar .ab-label {
	height: 40px;
}

#wpadminbar .quicklinks .ab-empty-item, #wpadminbar .quicklinks a, #wpadminbar .shortlink-input {
	height: 40px;
}

#wpadminbar .ab-icon, #wpadminbar .ab-item:before, #wpadminbar>#wp-toolbar>#wp-admin-bar-root-default .ab-icon, .wp-admin-bar-arrow {
	padding: 8px 0;
}

#wpadminbar .quicklinks>ul>li>a {
	padding: 0 1rem;
}

#adminmenu div.wp-menu-name {
	padding: 0.75rem 0;
}

#adminmenu, #adminmenu .wp-submenu, #adminmenuback, #adminmenuwrap {
	background-color: #1C222F;
	width: 200px;
}

#adminmenu .wp-submenu {
	background-color: #282D3A;
	left: 200px;
}

#adminmenu li.wp-has-submenu.wp-not-current-submenu.opensub:hover:after {
	border-right-color: #282D3A;
}

#adminmenu li.menu-top:hover, #adminmenu li.opensub>a.menu-top, #adminmenu li>a.menu-top:focus {
	background-color: inherit;
}

#adminmenu .wp-submenu a {
	padding: 0.5rem 0;
}

#wpcontent, #wpfooter {
	margin-left: 200px;
	padding-left: 2rem;
}


#wpadminbar .ab-empty-item, #wpadminbar a.ab-item, #wpadminbar>#wp-toolbar span.ab-label, #wpadminbar>#wp-toolbar span.noticon {
	font-weight: 600;
	color: rgba(255,255,255,0.8)
}

#future-posts li, #published-posts li {
	margin-bottom: 0.75rem;
}

#wpadminbar #wp-admin-bar-my-account.with-avatar>.ab-empty-item img, #wpadminbar #wp-admin-bar-my-account.with-avatar>a img {
	border: 0;
	border-radius: 50%;
}

#wp-admin-bar-wp-logo {
	display: none;
}

#wp-admin-bar-user-info .avatar {
	border-radius: 50%;
}

ul#adminmenu a.wp-has-current-submenu:after, ul#adminmenu>li.current>a.current:after {
	border-right-color: #f8f8f8;
}

#adminmenu .wp-has-current-submenu .wp-submenu, #adminmenu .wp-has-current-submenu .wp-submenu.sub-open, #adminmenu .wp-has-current-submenu.opensub .wp-submenu, #adminmenu a.wp-has-current-submenu:focus+.wp-submenu, .no-js li.wp-has-current-submenu:hover .wp-submenu {
	background-color: rgba(255,255,255,0.08)
}

#adminmenu .wp-has-current-submenu ul>li>a, .folded #adminmenu li.menu-top .wp-submenu>li>a {
	padding: 0.5rem 1.5rem;
}





.community-events {
	margin-bottom: 0.5rem;
    padding: 0 1.5rem;
}

.community-events li {
	padding: 1rem 1.5rem;
}



#wpbody-content .metabox-holder {
	padding-top: 1rem;
}

.postbox {
	border-radius: 0.5rem;
	border: 0;
	box-shadow: 0 1px 2px rgba(0,0,0,0.1);
	margin-bottom: 2rem;
}

.metabox-holder .postbox>h3, .metabox-holder .stuffbox>h3, .metabox-holder h2.hndle, .metabox-holder h3.hndle {
	padding: 1rem 1.5rem;
	border-bottom: 0;
	font-size: 1rem;
}

.js .postbox .handlediv {
	width: 54px;
	height: 54px;
	padding-right: 0.5rem;
}

#dashboard_right_now .main {
	padding: 1.5rem;
	padding-top: 0;
}


#dashboard_quick_press form {
	margin: 0;
	padding: 1.5rem;
	padding-top: 0;
}

#contextual-help-link-wrap, #screen-options-link-wrap {
	margin-left: 1rem;
}

#dashboard-widgets h3, #dashboard-widgets h4, #dashboard_quick_press .drafts h2 {
	margin: 0 1rem 1rem;
	font-weight: 500;
}

#adminmenu div.wp-menu-image {
	width: 48px;
	height: 40px;
}

div.wp-menu-image:before {
	padding: 11px 0;
}

#screen-meta-links .show-settings {
	padding: 0.5rem 1rem;
	padding-right: 0.5rem;
	border: 0;
	box-shadow: 0 1px 2px rgba(0,0,0,0.1);
}


#menu-management .menu-edit, #menu-settings-column .accordion-container, .comment-ays, .feature-filter, .imgedit-group, .manage-menus, .menu-item-handle, .popular-tags, .stuffbox, .widget-inside, .widget-top, .widgets-holder-wrap, .wp-editor-container, p.popular-tags, table.widefat {
	border-radius: 0.5rem;
	border: 0;
	box-shadow: 0 1px 2px rgba(0,0,0,0.1);
	margin-bottom: 1.5rem;
}

.widefat td, .widefat th {
	padding: 0.75rem 1rem;
}

.widefat td, .widefat td ol, .widefat td p, .widefat td ul {
	font-size: 0.874rem;
}

.updates-table tbody td.check-column, .widefat tbody th.check-column, .widefat tfoot td.check-column, .widefat thead td.check-column {
	padding-left: 0.75rem;
}

th.sortable a, th.sorted a {
	padding: 0.75rem 1rem;
}

.widefat tbody th.check-column {
	padding-top: 1.25rem;
}

.postbox .inside {
	padding: 0 1.5rem;
    line-height: 1.4;
    font-size: 0.875rem;
}

.postbox .inside h2, .wrap [class$=icon32]+h2, .wrap h1, .wrap>h2:first-child {
	font-size: 2rem;
	font-weight: 500;
}

#latest-comments #the-comment-list {
	margin: 0 -1.5rem;
}

#activity-widget #latest-comments #the-comment-list .comment-item {
	padding: 1rem 1.5rem;
}

#activity-widget #the-comment-list .avatar {
	top: 1rem;
	border-radius: 50%;
}

.activity-block {
	padding: 0.75rem 1.5rem;
	margin: 0 -1.5rem;
}

#dashboard_activity .subsubsub {
	margin: 0 -1.5rem;
    padding: 0.75rem 1.5rem 0.25rem;
}

.community-events .activity-block:first-child, .community-events h2 {
    padding-top: 1rem;
    padding-bottom: 0.75rem;
}


input[type=color], input[type=date], input[type=datetime-local], input[type=datetime], input[type=email], input[type=month], input[type=number], input[type=password], input[type=search], input[type=tel], input[type=text], input[type=time], input[type=url], input[type=week], select, textarea {
	line-height: 1.4;
	padding: 0.56rem 1rem;
	border-color: rgba(0,0,0,0.1);
	border-radius: 0.5rem;
}

#quick-press textarea#content {
	padding: 1rem;
	margin-bottom: 1rem;
}

#dashboard_quick_press label {
	margin-bottom: 0.5rem;
	font-weight: 600;
	font-size: 0.875rem;
}

#poststuff .stuffbox>h3, #poststuff h2, #poststuff h3.hndle {
	padding: 1rem 1.5rem;
}

#major-publishing-actions {
	padding: 1rem 1.5rem;
	background-color: transparent;
	border: 0;
}

.wp-core-ui .button, .wp-core-ui .button-secondary {
    border-color: transparent;
    background: rgba(0,113,161,0.1);
}

.wp-core-ui .button:hover, .wp-core-ui .button-secondary:hover {
	border-color: transparent;
	background: rgba(0,113,161,0.2);
}

.wp-core-ui .button-primary {
	background: #007cba;
    border-color: #007cba;
}

.wp-core-ui .button, .wp-core-ui .button-primary, .wp-core-ui .button-secondary {
	font-size: 0.875rem;
	font-weight: 600;
    line-height: 1.8;
    padding: 0.375rem 1rem;
    border-radius: 0.5rem;
}

.wrap .add-new-h2, .wrap .add-new-h2:active, .wrap .page-title-action, .wrap .page-title-action:active {
	border-color: transparent;
    background: rgba(0,113,161,0.1);
    border-radius: 0.5rem;
    padding: 0.375rem 1rem;
}

.wrap .add-new-h2:hover, wrap .page-title-action:hover, .wrap .page-title-action:hover {
	border-color: transparent;
	background: rgba(0,113,161,0.2);
}

.misc-pub-section {
	padding: 0.5rem 1.5rem;
}


.taxonomy-add-new {
	margin: 1rem 0;
}

.tablenav {
	height: 40px;
	margin: 1rem 0 1rem;
    padding-top: 0.5rem;
}


.wp-core-ui select {
	border-color: rgba(0,0,0,0.2);
	min-height: 39px;
	border-radius: 0.5rem;


	line-height: 1.4;
	padding: 0.56rem 1rem;
	padding-right: 2rem;
	border-color: rgba(0,0,0,0.1);
}


.view-switch a {
	padding: 0 0.5rem;
}


#dashboard-widgets-wrap {
	margin: 0 -16px;
}

#dashboard-widgets .meta-box-sortables {
	margin: 0 16px;
}


.wp-filter {
	box-shadow: 0 1px 2px rgba(0,0,0,0.1);
	border-radius: 0.5rem;
	border: 0;
}


.wp-core-ui .attachment-preview {
	border-radius: 0.5rem
}

.wp-core-ui .attachment .thumbnail {
	border-radius: 0.5rem;
}


